{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          ">0.2%", 
          "not dead", 
          "not op_mini all", 
          "firefox >= 78",
          "chrome >= 90"
        ]
      },
      "useBuiltIns": "usage",
      "corejs": 3
    }],
    "@babel/preset-react"
  ]
}
